<!DOCTYPE html>
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="author", content="Michael Gier")
    meta(name="description", content="Vorlage")
    meta(name="keywords", content="Webseite, Aachen, Joomla, HTML, SASS, PUG, CSS, JS, jQuery")

    link(rel="stylesheet", href="assets/css/main.css")

    title Vorlage


  body
    include includes/header.pug

    section 
      .wrapper
        h1 Webseiten Vorlage !!!

    include includes/footer.pug

    script(src="assets/js/app-dist.js" charset="utf-8")